@use 'variables';
@use 'forms';

@mixin graph-generator {
  width: 100%;
}

@mixin opinion-model {
  width: 100%
}

@mixin chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 0.5rem;

  .p-chart {
    width: 100%;
  }
}

@mixin tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  height: 100%;
  max-height: 100%;

  &-dropdown {
    width: 90%;
    margin: 1rem auto;
  }

  &-multi-select {
    width: 90%;
    margin: 1rem auto;
  }

  &-text {
    width: 90%;
    margin: auto;
    text-align: left;
  }

  &-hint {
    @include forms.hint;
  }

  &-button {
    justify-self: flex-end;
    margin: 2rem auto 0 auto;
    width: 90%;
    overflow: visible;
  }
}

